@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix {
  content: '';
  display: block;
  clear: both;
}
.container {
  background: #eff3f4;
  width: 940px;
  padding: 20px;
}
.box__out {
  float: left;
background: #3274ae;
width: 230px;
padding: 20px;
margin-left: 20px;
}
.box__out:first-child {
  margin-left: 0;
}
.box__in {
background: #eaf4ff;
box-sizing: border-box;
width : 230px;
padding: 20px;
border: 10px solid #022326;
}



/* 回答はここに書いてね */
