@charset "UTF-8";

/* 回答はここに書いてね */

body {
  width: 100%;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.top__float {
  float: left;
  box-sizing: border-box;
  width: 225px;
  font-size: 16px;
}
.top__float + .top__float {
  margin-left: 50px;
}
.table__wrap {
  display: table;
}
.table__wrap__box {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.q7__box__text {
  font-size: 16px;
  box-sizing: border-box;
  width: 225px;
}
.txt2 {
  margin-left: 50px;
}
.q7__inner {
  font-size: 0;
}
.line__box {
  box-sizing: border-box;
  width: 225px;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin-left: 50px;
}
.line__box:first-child {
  margin-left: 0;
}
.flex__box {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.flex__box__item {
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}
.is-full {
  font-size: 0;
}
.txt__wrap1{
  display: inline-block;
  vertical-align: top;
}
.txt__wrap2 {
  display: inline-block;
  margin-left: -300px;
  padding-left: 350px;
  width: 100%;
  box-sizing: border-box;
}
.box__txt1 {
  width: 300px;
}
.box__txt2 {
  width: 100%;
}
/* 回答はここに書いてね */
