@charset "UTF-8";

/* 回答はここに書いてね */
.q6-1__left {
  text-align: center;
}
.q6-1__left p {
  width: 90px;
  display: inline-block;
  padding: 10px 0;
  background: #e6f2ff;
}
.q6-1__right {
  padding: 10px;
  margin: 0 auto;
  background: #e6f2ff;
  width: 90px;
  text-align: center;
}
.is-table {
  display: table;
}
.is-table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.is-table-cell p {
  display: inline-block;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}
.is-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.is-flex p {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}
.is-stable {
  position: relative;
}
.is-stable p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.is-flexible {
  position: relative;
}
.is-flexible p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* 回答はここに書いてね */
