@charset "UTF-8";

/* 回答はここに書いてね */

.items_right .txt {
  border: none;
  height: 20px;
  line-height: 20px;
  border-radius: 5px;
  width: 150px;
}
select:focus , input:focus , .massage:focus {
  outline: 0;
  border : 0;
}
select:focus , input:focus , textarea:focus {
  box-shadow: 0px 0px 1px 1px #00bcd4;
}
li {
  list-style-type: none;
}
p {
  margin: 0;
  padding: 0;
}
.q8--btn {
  text-align: center;
}
.q8__title .btn {
  font-size: 0;
}
.btn {
  display: inline-block;
  margin-left: 10px;
}
.btn:first-child {
  margin-left: 0;
}
.common {
  background: #00bcd4;
  color: #fff;
}
.error {
  background: #ff4081;
  color: #fff;
}
.disabled {
  background: #e5e5e5;
  color: #fff;
}
.shadow {
  background: #fff;
  color: #222;
  box-shadow: 0 1px 6px rgba(0,0,0,.12);
}
.btn__small {
  height: 26px;
  line-height: 26px;
  padding:0 15px;
  border-radius: 3px;
  font-size: 16px;
}
.btn__middle {
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 20px;
}
.btn__large {
  height: 38px;
  line-height: 38px;
  padding: 0 25px;
  border-radius: 7px;
  font-size: 24px;
}
.q8__form {
  background: #eee;
  width: 700px;
  margin: 0 auto;
  padding: 20px;
}
.q8__form__title {
  margin-bottom: 20px;
  font-size: 30px;
  position: relative;
}
.q8__form__title::before {
  position: absolute;
  top: 50%;
  left: 220px;
  width: 480px;;
  height: 1px;
  background: #ccc;
  content: '';
}
.clearfix {
  margin-top: 10px;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.main {
  width: 300px;
  float: left;
}
.side {
  float: left;
  margin-top: 10px;
}
.items__left {
  float: left;
  width: 100px;
  text-align: right;
  line-height: 24px;
}
.items_right {
  float: right;
  width: 180px;
  display: inline-block;
}
.item__radio:first-child {
  margin-left: 20px;
}
input.radio__btn {
  display: none;
}
.radio__txt1 {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}
.radio__txt1::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -10px;
  background: #fff;
  border:  1px #ccc solid;
  border-radius: 50%;
  content: '';
}
.radio__btn:checked +
.radio__txt1::after {
  position: absolute;
  top: 50%;
  left: 4.3px;
  width: 8px;
  height: 8px;
  margin-top: -6px;
  background: #00bcd4;
  border-radius: 50%;
  content: '';
}
.massage {
  float: right;
  box-sizing: border-box;
  height: 160px;
  width: 330px;
  padding: 10px;
  border: none;
  resize: none;
  border-radius: 5px;
  margin-left: 50px;
}
.btn__bottom {
  text-align: right;
}
.btn__bottom > input{
  background: #00bcd4;
  border-radius: 3px;
  color: #fff;
  width: 40px;
  height: 30px;
  line-height: 30px;
}
.btn__check{
  width: 100%;
  text-align: right;
  font-size: 15px;
  margin-top: 20px;
}
.check__item {
  display: none;
}
.gender__txt {
  position: relative;
  display: inline-block;
  padding-left: 24px;
}
.gender__txt::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px #ccc solid;
  margin-top: -10px;
  content: '';
}
.gender__btn:checked +
.gender__text::after {
  position: absolute;
  top: 50%;
  left: 3px;
  width: 8px;
  height: 16px;
  border-right: 3px solid #00bcd4;
  border-bottom: 3px solid #00bcd4;
  transform: rotate(45deg);
  margin-top: -14px;
  content: '';
}
.gender__btn {
  display: inline;
}
.bottom_btn {
  text-align: right;
}
.btn__item {
  display: inline-block;
  background: #00bcd4;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  height: 30px;
  width: 50px;
}
.btn__item:active {
  background: #fff;
  color: #00bcd4;
  box-shadow: none;
}
.items_right {
  position: relative;
}
#sita::after {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border-left: 3px solid #eee;
  border-bottom: 3px solid #eee;
  border-top: transparent;
  border-right: transparent;
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 130px;
  margin-top: -5px;
  pointer-events: none;
  content: '';
}
.radio__item2 {
  display: none;
}
.radio__txt2 {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}
.radio__txt2::before {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -11px;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #ccc;
  content: '';
}
.radio__item2:checked +
.radio__txt2::after {
  position: absolute;
  top: 50%;
  left: 4px;
  margin-top: -18px;
  box-sizing: border-box;
  width: 10px;
  height: 22px;
  border-right: 4px #00bcd4 solid;
  border-bottom: 4px #00bcd4 solid;
  transform: rotate(45deg);
  content: '';
}
.btn__check label {
  margin-right: 30px;
}
.bottom_btn .btn__item {
  margin-right: 30px;
}
.items_right select {
  background: #fff;
  appearance: none;
  -webkit-appearance: none;
}
/* 回答はここに書いてね */
